NEXT_PUBLIC_SANITY_PROJECT_ID="<paste your project here>"
NEXT_PUBLIC_SANITY_DATASET="production" # Required - The dataset of your Sanity project
NEXT_PUBLIC_SANITY_API_VERSION="2024-10-28" # Optional - The API version provided to the Sanity Client
NEXT_PUBLIC_SANITY_STUDIO_PREVIEW_URL="" # Optional - Defaults to http://localhost:3000
NEXT_PUBLIC_SANITY_STUDIO_STUDIO_HOST="" # Optional - Defaults to http://localhost:3333
SANITY_API_READ_TOKEN="<paste your token here>"
NEXT_PUBLIC_SANITY_PUBLIC_PREVIEW_MODE="false"
