@import "tailwindcss";

:root {
  --background: #ffffff;
  

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-liter: 'Liter', 'sans-serif';
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-liter);
  font-weight: 400;
  font-style: normal;
  font-size: 0.813rem;
  line-height: 1.2;
  @apply font-[0.813rem] leading-[120%] lg:text-xs lg:leading-[110%];
}
